
<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">
    
    <%= render 'layouts/flash_messages' %>
    
    <h1>ステータス一覧</h1>

    <% if @tasks.any? %>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>ステータス</th>
            <th>内容</th>
          </tr>
        </thead>

        <tbody>
          <% @tasks.each do |task| %>

          <tr>
            <td><%= link_to task.id, task_path(task) %></td>
            <td><%= task.status %></td>
            <td><%= task.content %></td>
          </tr>
          <% end %>
        </tbody>
     </table>
    <% end %>
    
    <%= paginate @tasks %>
  
    <%= link_to '新規ステータスの投稿', new_task_path, class: "btn btn-primary" %>
  </div>
</div>
